/* ------fonts------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* reuseable styles */
.container{
    max-width: 1240px;
    margin: 50px auto;
}
main, header{
    margin: 0 40px;
}


/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-title a{
    font-size: 24px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a, .site-title a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #3A3A3A;
}
/* top banner section */
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-banner .top-banner-text{
    width: 45%;
}
.top-banner .top-banner-text a{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    color: #ffffff;
}
.top-banner .top-banner-text .btn{
    display: inline-block;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #E02C6D;
    border-radius: 30px;
    color: #ffffff;
}
.top-banner h1{
    font-size: 52px;
    color: #3A3A3A;
    line-height: 68px;
    margin-bottom: 16px;
}
.top-banner p{
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.top-banner .top-banner-image{
    width: 40%;
}
.top-banner .top-banner-image img:hover{
    transform: rotate(20deg) scale(1.1);
    transition: transform 0.5s;
}
.top-banner .top-banner-image img{
    width: 100%;
}
/* company logo section */
.logo-section{
    max-width: 1000px;
    margin: 100px auto 150px;
    border-top-width: 2.5px;
    border-top-style: solid;
    border-bottom-width: 2.5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, #ffffff, #bdbdbd, #ffffff) 1;
    padding: 40px;
}
.logo-section .logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 40px;
    align-items: center;
}
.logo-section .logos img{
    width: 80%;
}

/* products section */
.products-container{
    max-width: 1100px;
    margin: 100px auto;
}
.products-container h2{
    text-align: center;
    font-size: 38px;
    color: #3A3A3A;
}
.products{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}
.product-card{
    padding: 15px;
    box-shadow: 6px 6px 10px rgba(224, 224, 224, 0.788), -6px -6px 10px rgba(224, 224, 224, 0.788);
}
.product-card img{
    width: 100%;
}
.product-card .product-title{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    margin: 10px 0;
}
.product-card .price{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.product-card .rating .fas{
    font-size: 12px;
    color: orange;
    padding: 1px;
}
.product-card .rating .review{
    font-size: 20px;
    color: #5E6366;
    margin-left: 10px;
}
.product-card .product-info{
    font-size: 14px;
    color: #787885;
    margin-top: 4px;
}
.see-more{
    max-width: 1100px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: flex-end;
}

.see-more p a{
    text-decoration: none;
    color: #E02C6D;
    margin-right: 5px;
}
.see-more p i{
    color: #E02C6D;
}
.newslatter-section{
    text-align: center;
    margin: 50px auto;
}
.newslatter-section h1{
    margin-bottom: 20px;
}
.newslatter-section input{
    padding: 10px;
    border-right: none;
    border: 1px solid #c9c6c6;
}
.newslatter-section input:focus{
    outline: none;
}
.newslatter-section button{
    border: 1px solid #c9c6c6;
    padding: 10px;
    border-left: none;
    margin-left: -4px;
    background-color: #E02C6D;
    color: #ffffff;
}
.newslatter-section .newsletter{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

/* footer section */
footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 40px;
}
footer h2{
    font-size: 24px;
    margin-bottom: 10px;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
    margin-bottom: 30px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer i{
    margin: 0 8px;
    padding: 10px;
    font-size: 20px;
    background-color: hsl(245, 45%, 17%);
    border-radius: 50%;
}

/* tablet devices */
@media only screen and (max-width: 991px){
    .top-banner h1{
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 12px;
    }
    .top-banner p{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .products{
        grid-template-columns: 1fr 1fr;
    }

}

/* Mobile devices */
@media only screen and (max-width: 767px){
    .navbar{
        display: none;
    }
    .top-banner{
        flex-direction: column-reverse;
    }
    .top-banner .top-banner-image{
        width: 100%;
        margin-bottom: 50px;
    }
    .top-banner .top-banner-text{
        width: 100%;
        text-align: center;
    }
    .logo-section{
        padding: 20px;
        margin: 50px auto;
    }
    .logo-section .logos{
        grid-template-columns: repeat(4, 1fr);
    }
    .products-container{
        margin: 50px auto;
    }
    .products{
        grid-template-columns: 1fr;
    }

}